[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[user]
	name = ymgn
	email = gonyamagon@gmail.com
[alias]
	plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
        glog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --all --graph
	al = config --get-regexp alias.*
	cancel = reset --soft HEAD^
	today = log --oneline --since='12 hour ago
	purr       = pull --rebase
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	a = add
	b = branch
	s = status
	d = diff
	p = push
	co = checkout
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
	back-commit = git reset --soft HEAD^	
[fetch]
	prune = true
[commit]
	template = ~/.stCommitMsg
